<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div id="create_kill">
        <form action="/kill" method="POST">

            <div class="form-group">
                <label class="form-check-label" for="our_boat">Notre bateau : </label>
                <select class="form-control" id="our_boat" name="our_boat">
                    <option value="Sloop">Sloop</option> 
                    <option value="Gallion" selected>Gallion</option>
                </select>
            </div>

            <hr>

            <div class="form-group">
                <label class="form-check-label" for="date">Date : </label>
                <input class="form-control" type="date" name="date">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="boat">Type de bateau : </label>
                <select class="form-control" id="boat" name="boat">
                    <option value="Sloop">Sloop</option> 
                    <option value="Gallion" selected>Gallion</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-check-label" for="isLegend">Légende : </label>
                <input class="form-check-input" type="checkbox" name="isLegend">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="isEmpty">Vide : </label>
                <input class="form-check-input" type="checkbox" name="isEmpty">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="victory">Victoire : </label>
                <input class="form-check-input" type="checkbox" name="victory">
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>