<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Kills</h1>
        <ul class="list-group">
            <% killList.forEach(function(kill) { %>
                <%if (kill.victory == true) { %>
                        <li class="list-group-item list-group-item-success">
                        <img src="/icon/kill.png" style="height: 24px;">
                <% } %>
                <%if (kill.victory == false) { %>
                        <li class="list-group-item list-group-item-danger">
                        <img src="/icon/death.png" style="height: 24px;">
                <% } %>
                <%if (kill.isLegend == true) { %>
                    <img src="/icon/legend.png" style="height: 24px;">
                <% } %>
                    <%= kill.boat %> - <%= moment(kill.date).format('DD MMM YYYY') %>
                </li>
            <% }); %>
        </ul>
    </li>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>